section.best-sellers
    h2.best-sellers__title
        |Best Sellers

    ul.best-sellers__list
        li.best-sellers__item
            +product('Beanie', '11.jpg', 'green', '£29.99', '£39.99')
        li.best-sellers__item
            +product('T-Shirt With a Print', '12.jpg', 'Dark Blue', '£19.99', '£29.99')
        li.best-sellers__item
            +product('Pile-Lined Hooded Jacket', '13.jpg', 'Dark Blue', '£29.99', '£49.99')
        li.best-sellers__item
            +product('Trainers', '14.jpg', 'Space Grey', '£29.99', '£39.99')