.site-slider
    ul.site-slider__list
        li.site-slider__item
            .site-container
                .site-slider__inner
                    h2.site-slider__header
                        |iPhone 6 32Gb Black

                    p.site-slider__text
                        |At first, for some time, I was not able to answer him one word;
                        |but as he had taken me in his arms I held fast by him, or I should
                        |have fallen to the ground.

                a.button.site-slider__link(href="/")
                    span.button__text
                        |Buy Now

                .site-slider__iphone