ul.product-list
    +product-item('Apple TV 32GB', '0.jpg', 'black', '49.99')
    +product-item('Pebble Time', '1.jpg', 'red', '29.99')
    +product-item('Zendure 4-Port USB', '2.jpg', 'white', '49.99')
    +product-item('Withings Smart Body Analyzer ws-50', '3.jpg', 'black', '39.99')
    +product-item('JBL Charge 2+', '4.jpg', 'black', '39.99', false, '16 GB')
    +product-item('Ollo Clip New', '5.jpg', 'silver', '19.99')
    +product-item('Fitbit Charge HR Heart Rate and Activity Tracker', '6.jpg', 'black', '19.99')
    +product-item('Apple Watch Sport 38mm Silver Aluminum Case', '7.jpg', 'white', '49.99')
    +product-item('Bose SoundLink On-Ear Headphones', '8.jpg', 'white', '119.99')
    +product-item('Sonos Play-1 Wireless HiFi System', '9.jpg', 'white', '99.99')
    +product-item('Nest Learning Thermostat, 3rd Generation', '10.jpg', '', '49.99', false, false, true)